matplotlib==3.11.0
numpy==2.4.6
onnxruntime-gpu==1.27.0
opencv-contrib-python==4.13.0.92
pandas==3.0.3
Pillow==12.2.0
py_cpuinfo==9.0.0
pytest==9.1.1
PyYAML==6.0.3
scikit_learn==1.9.0
tqdm==4.68.3
openvino==2026.2.1
